html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;  
}

/* for image 1*/
.bg {
    animation: shake 2s ease-in-out;
    background-image: url(/src/assets/TopRight.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    /* z-index: 0; */
    left: 69rem;
    top: -11rem;
    width: 38%;
    height: 98%;
    overflow: hidden;
    filter: hue-rotate(90deg);
}


         
@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-5px, 0); }
    50% { transform: translate(5px, 0); }
    75% { transform: translate(-5px, 0); }
    100% { transform: translate(0); }
}
@media (max-width: 768px) {
    .bg {
        left: 50%;   
        top: -5rem;  
        width: 80%; 
        height: auto;  
        transform: translateX(-50%); 
    }
}
 /* for image 2 */
.bg2{
    background-image: url(/src/assets/ButtomLeft.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -14rem;
    top: 10rem;
    width: 37%;
    height: 34rem;
    animation: shake 2s ease-in-out;
    filter: hue-rotate(90deg);
}

/* Responsive adjustments for tablet size */
@media (max-width: 1024px) {
    .bg2 {
        left: 0; /* Center horizontally */
        top: 15rem; /* Adjust top position */
        width: 50%; /* Increase width */
        height: auto; /* Allow height to adjust */
    }
}

/* Spinner Animation */
@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-5px, 0); }
    50% { transform: translate(5px, 0); }
    75% { transform: translate(-5px, 0); }
    100% { transform: translate(0); }
}
.toolbar{
    display: none;
}