@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the Poppins font */
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('/path/to/fonts/Poppins-Regular.woff2') format('woff2'),
       url('/path/to/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif; /* Apply the font-family */
}

.app {
  height: 100%;
  overflow: hidden;
}

.content-container {
  height: 100%;
  overflow-y: auto;
}
